[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.10"
snowflake-connector-python = "==2.8.0"
pandas = "==1.5.1"
numpy = "==1.23.4"
